* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  background: #7f669d;
  background: linear-gradient(90deg, rgb(178, 103, 248), rgb(47, 5, 96));
  overflow-x: hidden;
  min-height: 100%;
}
