* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  background: rgb(5, 22, 96);
  background: linear-gradient(90deg, rgba(61, 214, 221, 1), rgba(5, 22, 96, 1));
  overflow-x: hidden;
  min-height: 100%;
}
